@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  background-color: black;
}

/* centered large dispersed white shadow (50% opacity) */
.shadow-center {
  /* Using multiple layered box-shadows to create a large, soft dispersed white glow */
  box-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
